<div class="flex flex-col h-full">
  <div class="flex items-center">
    <div class="flex-row space-x-2">
      <button class="primary-btn" [class.opacity-50]="!isPostsActive" (click)="onPostsClick()">Posts</button>
      <button class="primary-btn" [class.opacity-50]="!isAlbumsActive" (click)="onAlbumClick()">Albums</button>
    </div>
    <div class="ml-4 flex-1 w-full">
      <app-profile-search-bar></app-profile-search-bar>
    </div>
  </div>
  
  <div class="flex-1">
    <app-posts-details-content [itemTracker]="firstAndLastItem" *ngIf="isPostsActive"></app-posts-details-content>
    <app-albums-details-content [itemTracker]="firstAndLastItem" *ngIf="isAlbumsActive"></app-albums-details-content>
  </div>

  <div class="flex justify-between mx-2">
    <div>
      <button *ngIf="pageIndex > 0" class="primary-btn" (click)="onClickPrevious()">Previous</button>
    </div>
    <div>
      <button *ngIf="pageIndex < numberOfPagesShouldPaginate" class="primary-btn" (click)="onClickNext()">Next</button>
    </div>
  </div>
</div>
