<div class="grid grid-cols-2 grid-rows-3 gap-6 py-4">
  <app-albums-card-tile [title]="'Album Title 1'"></app-albums-card-tile>
  <app-albums-card-tile [title]="'Album Title 2'"></app-albums-card-tile>
  <app-albums-card-tile [title]="'Album Title 3'"></app-albums-card-tile>
  <app-albums-card-tile [title]="'Album Title 4'"></app-albums-card-tile>
  <app-albums-card-tile [title]="'Album Title 5'"></app-albums-card-tile>
  <app-albums-card-tile [title]="'Album Title 6'"></app-albums-card-tile>
</div>